{{!-- QR CODE PAYMENTS --}}
{{!-- <div class="mobile-money-qr-payment"></div> --}}

<div class="container">
 <div class="py-5 text-center">
    
    <h2>CHECKOUT FORM</h2>
    <p class="lead">Sample page for testing the Collection's <b>RequestToPay</b> method</p>
     <div id="pay_alert" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
          <span id="pay_alert_text"></span>
          {{!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> --}}
      </div>

 </div>


{{!-- RIGHT INFORMATION --}}


    {{!-- <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form> --}}



    {{!-- LEFT FORM --}}
    <div class="justify-content-center">
      <h4 class="mb-3">Billing address</h4>
      <form id="reqToPayForm" method="POST" action="/reqToPay">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name*</label>
            <input maxlength="20" type="text" name="fname" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name*</label>
            <input maxlength="20" type="text" class="form-control" id="lastName" placeholder="" name="lname" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address <span class="text-muted">(Optional)</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select name="country" class="form-select" aria-label=".form-select example" id="country" required>
              <option selected>Republic of Congo</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">City</label>
            <select name="city" class="form-select" aria-label=".form-select example" id="state" required>
              <option selected>Brazzaville</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="number">Phone number*</span></label>
            <input  maxlength="14" type="tel" name="number" class="form-control" id="zip" placeholder="" required>
            <input type="hidden" name="totalAmount" value="" id="inputTotalAmount" />
            <div class="invalid-feedback">
              Phone number required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        {{!-- <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div> --}}
        {{!-- <hr class="mb-4"> --}}

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">MTN MOMO</label>
          </div>
        </div>
        <hr class="mb-4">
        <input id="checkOutBtn" class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout" />
      </form>
    </div>
</div><br><br>